<div class="container">
  <div class="cards-container">
    <div class="cards-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Card Name</label>
          <input
            type="text"
            name="cardName"
            [(ngModel)]="card.cardHolderName"
          />
        </div>
        <div class="form-group">
          <label for="">Card Number</label>
          <input type="text" name="cardNumber" [(ngModel)]="card.cardNumber" />
        </div>
        <div class="form-group form-group-inline">
          <div>
            <label for="">CVC</label>
            <input type="text" name="CVC" [(ngModel)]="card.cvc" />
          </div>
          <div>
            <label for="">Expiry Month</label>
            <input
              type="text"
              name="expiryMonth"
              [(ngModel)]="card.expiryMonth"
            />
          </div>
          <div>
            <label for="">Expiry Year</label>
            <input
              type="text"
              name="expiryYear"
              [(ngModel)]="card.expiryYear"
            />
          </div>
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>
      </form>
    </div>
    <div class="cards-grid">
      <div
        (click)="populateForm(card)"
        class="card-row"
        *ngFor="let card of cards"
      >
        <div class="card-row-details">
          <span>{{ card.cardHolderName }}</span>
          <span>{{ card.cardNumber }}</span>
        </div>
        <div class="card-row-action">
          <a (click)="deleteCard(card.id)"
            ><i class="fa-sharp fa-solid fa-trash"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
